doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascript/bower_components/jquery/dist/jquery.min.js')
    script(src='/javascript/bower_components/moment/moment.js')
    script(src="/socket.io/socket.io.js")
    script(src='/javascript/system.js')
    script(src='/javascript/main.js')
    link(href="https://fonts.googleapis.com/css?family=PT+Sans|Raleway", rel="stylesheet")
